<a href="https://colab.research.google.com/github/cdumitrita/books/blob/main/pr_books.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [195]:
import pandas as pd

#clear the data from the rating book dataset
df_book_ratings = pd.read_csv('BX-Book-Ratings.csv', encoding='latin1', on_bad_lines='skip', delimiter=';')

# Split the column into three separate columns
df_book_ratings[['User-ID', 'ISBN', 'Book-Rating']] = df_book_ratings['User-ID;"ISBN";"Book-Rating",'].str.split(';', expand=True)
# drop the original column 
df_book_ratings = df_book_ratings.drop('User-ID;"ISBN";"Book-Rating",', axis=1)

# correct the ISBN and Book-Rating format
df_book_ratings['ISBN'] = df_book_ratings['ISBN'].str.replace('"', '')
df_book_ratings['Book-Rating'] = df_book_ratings['Book-Rating'].str.extract('(\d+)').astype(int)

#check for null values - it returned False, so need to drop any rows
has_nan_values = df_book_ratings.isna().any().any()
# print(has_nan_values)

#ISBN - have different notation - I supose the corect ISBN consist of 10 numbers withput any other symbol
# clear the column values
df_book_ratings['ISBN'] = df_book_ratings['ISBN'].str.replace(r'\D', '', regex=True)
df_book_ratings = df_book_ratings[df_book_ratings['ISBN'].str.len() == 10]

# should I remove ISBN with 000000?
display(df_book_ratings.sort_values(by='ISBN'))

       User-ID        ISBN  Book-Rating
215369   50321  0000000000            0
571365  137348  0000000000            0
45331    11676  0000000000            9
299927   71285  0000000000            7
498883  120548  0000000000            0
...        ...         ...          ...
619559  149908  9999983332            8
609441  147451  9999983332            0
697575  170184  9999984584            0
675825  164465  9999991556            0
148432   33429  9999999999            5

[953570 rows x 3 columns]

In [197]:

df_books = pd.read_csv('BX-Books.csv', encoding='latin1', on_bad_lines='skip', low_memory=False)

# drop the columns that don't have anything in it 
df_books = df_books.dropna(axis=1)

# split the column for a better representation of data
split_columns = df_books['ISBN;"Book-Title";"Book-Author";"Year-Of-Publication";"Publisher";"Image-URL-S";"Image-URL-M";"Image-URL-L"'].str.split(';', expand=True)
# assign the split columns to the DataFrame
df_books['ISBN'] = split_columns[0]
df_books['Book-Title'] = split_columns[1]
df_books['Book-Author'] = split_columns[2]
df_books['Year-of-Publication'] = split_columns[3]
df_books['Publisher'] = split_columns[4]
df_books['Image-URL-S'] = split_columns[5]
df_books['Image-URL-M'] = split_columns[6]
df_books['Image-URL-L'] = split_columns[7]
# Drop the original column
df_books = df_books.drop('ISBN;"Book-Title";"Book-Author";"Year-Of-Publication";"Publisher";"Image-URL-S";"Image-URL-M";"Image-URL-L"', axis=1)

# remove the " " from all the values
df_books['Book-Title'] = df_books['Book-Title'].str.replace('"', '')
df_books['Book-Author'] = df_books['Book-Author'].str.replace('"', '')
df_books['Year-of-Publication'] = df_books['Year-of-Publication'].str.replace('"', '')
df_books['Publisher'] = df_books['Publisher'].str.replace('"', '')
df_books['Image-URL-S'] = df_books['Image-URL-S'].str.replace('"', '')
df_books['Image-URL-M'] = df_books['Image-URL-M'].str.replace('"', '')
df_books['Image-URL-L'] = df_books['Image-URL-L'].str.replace('"', '')

#clear the ISBN to make a valid identifyer
df_books['ISBN'] = df_books['ISBN'].str.replace(r'\D', '', regex=True)
df_books = df_books.reset_index(drop=True)
df_books = df_books[df_books['ISBN'].str.len() == 10]

# should I remove year of publication 0?

display(df_books.sort_values(by='ISBN'))

,ISBN,Book-Title,Book-Author,Year-of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
254266,0000913154,The Way Things Work: An Illustrated Encycloped...,C. van Amerongen (translator),1967,Simon &amp,Schuster,http://images.amazon.com/images/P/0000913154.0...,http://images.amazon.com/images/P/0000913154.0...
215818,0001010565,Mog's Christmas,Judith Kerr,1992,Collins,http://images.amazon.com/images/P/0001010565.0...,http://images.amazon.com/images/P/0001010565.0...,http://images.amazon.com/images/P/0001010565.0...
42563,0001046438,Liar,Stephen Fry,0,Harpercollins Uk,http://images.amazon.com/images/P/0001046438.0...,http://images.amazon.com/images/P/0001046438.0...,http://images.amazon.com/images/P/0001046438.0...
112560,0001046713,Twopence to Cross the Mersey,Helen Forrester,1992,HarperCollins Publishers,http://images.amazon.com/images/P/0001046713.0...,http://images.amazon.com/images/P/0001046713.0...,http://images.amazon.com/images/P/0001046713.0...
146200,0001046934,The Prime of Miss Jean Brodie,Muriel Spark,1999,Trafalgar Square Publishing,http://images.amazon.com/images/P/0001046934.0...,http://images.amazon.com/images/P/0001046934.0...,http://images.amazon.com/images/P/0001046934.0...
...,...,...,...,...,...,...,...,...
99577,9999669972,Being Bullied (Lets Talk About Series),Joy Berry,1989,Smithmark Pub,http://images.amazon.com/images/P/9999669972.0...,http://images.amazon.com/images/P/9999669972.0...,http://images.amazon.com/images/P/9999669972.0...
52372,9999980538,Murphy's Law,Colin Bateman,2002,Headline,http://images.amazon.com/images/P/9999980538.0...,http://images.amazon.com/images/P/9999980538.0...,http://images.amazon.com/images/P/9999980538.0...
188033,9999984584,Anointed,Zev Halevi,1987,Routledge,http://images.amazon.com/images/P/9999984584.0...,http://images.amazon.com/images/P/9999984584.0...,http://images.amazon.com/images/P/9999984584.0...
180749,9999991556,Impact of New Product Introductions on the Mar...,None,None,None,None,None,None
63713,9999999999,World Directory of Awards and Prizes,Joseph L. Heller,1996,Access Publishers Network,http://images.amazon.com/images/P/9999999999.0...,http://images.amazon.com/images/P/9999999999.0...,http://images.amazon.com/images/P/9999999999.0...

In [198]:
import pandas as pd

df_users = pd.read_csv('BX-Users.csv', encoding='latin1', on_bad_lines='skip', low_memory =False)


df_users['User-Id'] = df_users['User-ID'].str.extract(r'^(\d+)')
# Extract Locations from the three columns
df_users['Age'] = df_users['"Age"'].str.extract(r'";"([^"]*)"')
df_users['City'] = df_users['User-ID'].str.extract(r';"([^"]*)')
df_users['Region'] = df_users['"Location"']
df_users['Country'] = df_users['"Age"'].str.extract(r'([^"]*)";')

df_users = df_users.drop(['Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8'], axis=1)
df_users = df_users.drop(['User-ID', '"Location"', '"Age"'], axis=1)
display(df_users.sort_values(by='User-Id'))

       User-Id  Age          City          Region          Country
0            1  NaN           nyc        new york              usa
9           10   26      albacete       wisconsin            spain
98         100   44        madrid             n/a            spain
992       1000   34        teramo         abruzzo            italy
9908     10000   38  jacksonville         florida              usa
...        ...  ...           ...             ...              ...
99039    99996   43       toronto         ontario           canada
99040    99997   33   fredericton   new brunswick           canada
99041    99998   22     cambridge         england   united kingdom
99042    99999   46       hamburg         hamburg          germany
272528     NaN  NaN           NaN           milan            italy

[276271 rows x 5 columns]

In [180]:
# merge  the tables --  books with books rating on ISBN
#                      --  rating with users on User-Id

# need to remove all country with ;NULL as values

df_merged_all = pd.merge(pd.merge(df_books, df_book_ratings, on='ISBN'), df_users, left_on='User-ID', right_on='User-Id')
df_max_rating = df_merged_all.sort_values(by='Book-Rating', ascending=False)
df_max_rating_part = df_max_rating.head(300)

#  -> select, let's say the top-rated books from one country and combine all in a db with the two most rated books from all the countries
# group the df_max_rating_part df by both 'Country' and 'Book-Title' columns and count the number of unique users who rated each book.


grouped = df_max_rating_part.groupby(['Country', 'Book-Title', 'ISBN']).agg({'User-ID': 'nunique'}).sort_values(by='User-ID',ascending=False)
df_most_rated_books = grouped.groupby('Country').head(1).reset_index()

#add the authors to these books
df_most_rated_books = df_most_rated_books.merge(df_max_rating_part[['Country', 'Book-Title', 'ISBN', 'Book-Author']], on=['Country', 'Book-Title', 'ISBN'], how='left')
df_most_rated_books = df_most_rated_books.drop_duplicates()
display(df_most_rated_books)

book_titles = df_most_rated_books['Book-Title'].tolist()
author_list = df_most_rated_books['Book-Author'].tolist()

# alternative - I want to see the most rated books from a specific country
def display_books_by_country(country):
    country_books = df_max_rating[df_merged_all['Country'] == country]['Book-Title']
    country_books = country_books.head(500)
    if not country_books.empty:
        print("Books from", country)
        print(country_books)
    else:
        print("No books found for", country)
# display_books_by_country('usa')

# to display the most popular authors, select the authors from the most popular books in a db

,Country,Book-Title,ISBN,User-ID,Book-Author
0,usa,A Walk in the Woods: Rediscovering America on ...,0767902521,7,Bill Bryson
7,italy,Novocento,8807813025,4,None
11,united kingdom,Notes from a Small Island,0380727501,2,Bill Bryson
13,australia,Another Time Another Place : U2 - the Early Years,0749302186,1,Bill Graham
14,germany,Der rote Rock.,3608934537,1,Emmanuele Bernheim
15,far away...,Toy Story 2,0736401512,1,Kathleen Zoehfeld
16,new zealand,Clover #3,1892213958,1,Clamp
17,singapore,BRIDGES OF MADISON COUNTY/SLOW,0099279347,1,R J WALLER
18,canada,Dave Barry's Only Travel Guide You'll Ever Need,0345431138,1,Dave Barry

In [184]:
import requests
import json

url = "https://www.googleapis.com/books/v1/volumes"
# api_key = input("API Key:")


for i in df_most_rated_books['ISBN']:
    parameters = {
        'q': 'isbn:' + i,
        'key': 'AIzaSyB1l5XCuYSS-sq7b60iuMtFPdCL43u0TpM'
    }
    response = requests.get(url, params=parameters)

    if response.status_code == requests.codes.ok:
        data = response.json()
        if data:
            description = data['items'][0]['volumeInfo'].get('description', '')
            df_most_rated_books.loc[df_most_rated_books['ISBN'] == i, 'Description'] = description
        else:
            print("Error:", response.status_code, response.text)
    else:
        print("Error:", response.status_code, response.text)

display(df_most_rated_books)

,Country,Book-Title,ISBN,User-ID,Book-Author,Description
0,usa,A Walk in the Woods: Rediscovering America on ...,0767902521,7,Bill Bryson,NEW YORK TIMES BESTSELLER â€¢ The classic chroni...
7,italy,Novocento,8807813025,4,None,"Il libro racchiude la storia, raccontata dall'..."
11,united kingdom,Notes from a Small Island,0380727501,2,Bill Bryson,"""Suddenly, in the space of a moment, I realize..."
13,australia,Another Time Another Place : U2 - the Early Years,0749302186,1,Bill Graham,
14,germany,Der rote Rock.,3608934537,1,Emmanuele Bernheim,
15,far away...,Toy Story 2,0736401512,1,Kathleen Zoehfeld,The complete retelling of favorite Disney movi...
16,new zealand,Clover #3,1892213958,1,Clamp,"Love is the most beautiful word, but no one kn..."
17,singapore,BRIDGES OF MADISON COUNTY/SLOW,0099279347,1,R J WALLER,
18,canada,Dave Barry's Only Travel Guide You'll Ever Need,0345431138,1,Dave Barry,"TAKE YOUR TRAVEL TIPS FROM DAVE BARRY, A GUY W..."

In [202]:
import  pandas as pd
base_url = 'https://en.wikipedia.org/w/api.php'

df_author_info = pd.DataFrame(columns=['Author', 'Extract'])

for author in author_list:
    parameters = {
        'action': 'query',
        'format': 'json',
        'prop': 'extracts',
        'exintro': '',
        'explaintext': '',
        'titles': author,
    }

    response = requests.get(base_url, params=parameters)

    if response.status_code == requests.codes.ok:
        data = response.json()
        pages = next(iter(data['query']['pages'].values()))
        extract = pages['extract']

        df_author_info = pd.DataFrame({
            'Author': author,
            'Extract': extract
        })

    else:
        print(f'Error')

display(df_author_info)

ValueError: If using all scalar values, you must pass an index

In [ ]:
from IPython.display import display, Image

df1 = df_books

def show(book):
    image_link = df1.loc[df_books['Image-URL-S'] == book, 'image_link'].values[0]
    display(Image(url=image_link))
show('http://images.amazon.com/images/P/0001046713.0...	')