<a href="https://colab.research.google.com/github/cdumitrita/books/blob/main/pr_books.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# from google.colab import drive
# drive.mount('/content/drive')

In [70]:
import pandas as pd

#clear the data from the rating book dataset
df_book_ratings = pd.read_csv('BX-Book-Ratings.csv', encoding='latin1', on_bad_lines='skip', delimiter=';')

# Split the column into three separate columns
df_book_ratings[['User-ID', 'ISBN', 'Book-Rating']] = df_book_ratings['User-ID;"ISBN";"Book-Rating",'].str.split(';', expand=True)
# drop the original column 
df_book_ratings = df_book_ratings.drop('User-ID;"ISBN";"Book-Rating",', axis=1)

# correct the ISBN and Book-Rating format
df_book_ratings['ISBN'] = df_book_ratings['ISBN'].str.replace('"', '')
df_book_ratings['Book-Rating'] = df_book_ratings['Book-Rating'].str.extract('(\d+)').astype(int)

#check for null values - it returned False, so need to drop any rows
has_nan_values = df_book_ratings.isna().any().any()
# print(has_nan_values)

#ISBN - have different notation - I supose the corect ISBN consist of 10 numbers withput any other symbol
# clear the column values
df_book_ratings['ISBN'] = df_book_ratings['ISBN'].str.replace(r'\D', '', regex=True)
df_book_ratings = df_book_ratings[df_book_ratings['ISBN'].str.len() == 10]

# should I remove ISBN with 000000?
# display(df_book_ratings.sort_values(by='ISBN'))

In [74]:

df_books = pd.read_csv('BX-Books.csv', encoding='latin1', on_bad_lines='skip', low_memory=False)

# drop the columns that don't have anything in it 
df_books = df_books.dropna(axis=1)

# split the column for a better representation of data
split_columns = df_books['ISBN;"Book-Title";"Book-Author";"Year-Of-Publication";"Publisher";"Image-URL-S";"Image-URL-M";"Image-URL-L"'].str.split(';', expand=True)
# assign the split columns to the DataFrame
df_books['ISBN'] = split_columns[0]
df_books['Book-Title'] = split_columns[1]
df_books['Book-Author'] = split_columns[2]
df_books['Year-of-Publication'] = split_columns[3]
df_books['Publisher'] = split_columns[4]
df_books['Image-URL-S'] = split_columns[5]
df_books['Image-URL-M'] = split_columns[6]
df_books['Image-URL-L'] = split_columns[7]
# Drop the original column
df_books = df_books.drop('ISBN;"Book-Title";"Book-Author";"Year-Of-Publication";"Publisher";"Image-URL-S";"Image-URL-M";"Image-URL-L"', axis=1)

# remove the " " from all the values
df_books['Book-Title'] = df_books['Book-Title'].str.replace('"', '')
df_books['Book-Author'] = df_books['Book-Author'].str.replace('"', '')
df_books['Year-of-Publication'] = df_books['Year-of-Publication'].str.replace('"', '')
df_books['Publisher'] = df_books['Publisher'].str.replace('"', '')
df_books['Image-URL-S'] = df_books['Image-URL-S'].str.replace('"', '')
df_books['Image-URL-M'] = df_books['Image-URL-M'].str.replace('"', '')
df_books['Image-URL-L'] = df_books['Image-URL-L'].str.replace('"', '')

#clear the ISBN to make a valid identifyer
df_books['ISBN'] = df_books['ISBN'].str.replace(r'\D', '', regex=True)
df_books = df_books.reset_index(drop=True)
df_books = df_books[df_books['ISBN'].str.len() == 10]

# should I remove year of publication 0?

display(df_books.sort_values(by='ISBN'))

,ISBN,Book-Title,Book-Author,Year-of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
254266,0000913154,The Way Things Work: An Illustrated Encycloped...,C. van Amerongen (translator),1967,Simon &amp,Schuster,http://images.amazon.com/images/P/0000913154.0...,http://images.amazon.com/images/P/0000913154.0...
215818,0001010565,Mog's Christmas,Judith Kerr,1992,Collins,http://images.amazon.com/images/P/0001010565.0...,http://images.amazon.com/images/P/0001010565.0...,http://images.amazon.com/images/P/0001010565.0...
42563,0001046438,Liar,Stephen Fry,0,Harpercollins Uk,http://images.amazon.com/images/P/0001046438.0...,http://images.amazon.com/images/P/0001046438.0...,http://images.amazon.com/images/P/0001046438.0...
112560,0001046713,Twopence to Cross the Mersey,Helen Forrester,1992,HarperCollins Publishers,http://images.amazon.com/images/P/0001046713.0...,http://images.amazon.com/images/P/0001046713.0...,http://images.amazon.com/images/P/0001046713.0...
146200,0001046934,The Prime of Miss Jean Brodie,Muriel Spark,1999,Trafalgar Square Publishing,http://images.amazon.com/images/P/0001046934.0...,http://images.amazon.com/images/P/0001046934.0...,http://images.amazon.com/images/P/0001046934.0...
...,...,...,...,...,...,...,...,...
99577,9999669972,Being Bullied (Lets Talk About Series),Joy Berry,1989,Smithmark Pub,http://images.amazon.com/images/P/9999669972.0...,http://images.amazon.com/images/P/9999669972.0...,http://images.amazon.com/images/P/9999669972.0...
52372,9999980538,Murphy's Law,Colin Bateman,2002,Headline,http://images.amazon.com/images/P/9999980538.0...,http://images.amazon.com/images/P/9999980538.0...,http://images.amazon.com/images/P/9999980538.0...
188033,9999984584,Anointed,Zev Halevi,1987,Routledge,http://images.amazon.com/images/P/9999984584.0...,http://images.amazon.com/images/P/9999984584.0...,http://images.amazon.com/images/P/9999984584.0...
180749,9999991556,Impact of New Product Introductions on the Mar...,None,None,None,None,None,None
63713,9999999999,World Directory of Awards and Prizes,Joseph L. Heller,1996,Access Publishers Network,http://images.amazon.com/images/P/9999999999.0...,http://images.amazon.com/images/P/9999999999.0...,http://images.amazon.com/images/P/9999999999.0...

In [76]:
df_users = pd.read_csv('BX-Users.csv', encoding='latin1', on_bad_lines='skip', low_memory =False)
# df_users  = df_users.dropna(axis=1)
display(df_users)

,User-ID,"""Location""","""Age""",Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,"1;""nyc",new york,"usa"";NULL",NaN,NaN,NaN,NaN,NaN,NaN
1,"2;""stockton",california,"usa"";""18""",NaN,NaN,NaN,NaN,NaN,NaN
2,"3;""moscow",yukon territory,"russia"";NULL",NaN,NaN,NaN,NaN,NaN,NaN
3,"4;""porto",v.n.gaia,"portugal"";""17""",NaN,NaN,NaN,NaN,NaN,NaN
4,"5;""farnborough",hants,"united kingdom"";NULL",NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
276266,"278854;""portland",oregon,"usa"";NULL",NaN,NaN,NaN,NaN,NaN,NaN
276267,"278855;""tacoma",washington,"united kingdom"";""50""",NaN,NaN,NaN,NaN,NaN,NaN
276268,"278856;""brampton",ontario,"canada"";NULL",NaN,NaN,NaN,NaN,NaN,NaN
276269,"278857;""knoxville",tennessee,"usa"";NULL",NaN,NaN,NaN,NaN,NaN,NaN
276270,"278858;""dublin",n/a,"ireland"";NULL",NaN,NaN,NaN,NaN,NaN,NaN